/* Basic CSS File */
:root {
  --blue: #0057ff;
  --black: #303030;
  --red: #f7736a;
  --orange: #ffb357;
  --gray: #fafafa;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #fafafa inset !important;
}

* {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--blue);
  animation: focus 500ms ease;
}

@keyframes focus {
  0% {
    border: 2px solid white;
  }
  100% {
    border: 2px solid var(--blue);
  }
}

#root {
  font-family: "Inter", sans-serif;
}
.border {
  border: 1px solid black;
}

::selection {
  background: #0055ff80;
}

::placeholder {
  color: rgba(0, 0, 0, 0.288);
}

.login-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}

.input {
  border: none;
  background-color: #fafafa;
  padding: 18px;
  width: 250px;
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid white;
}

.red-input {
  border: none;
  background-color: #fafafa;
  padding: 18px;
  width: 250px;
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid var(--orange);
  animation: view 1s ease;
}

@keyframes view {
  0% {
    border: 2px solid white;
  }
  100% {
    border: 2px solid var(--orange);
  }
}

.cross-box {
  width: 100px;
  height: 100px;
  position: absolute;
  opacity: 0.3;
  transform: rotate(65deg);
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230057ff' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.box-one {
  top: 50px;
  left: -50px;
}

.box-two {
  bottom: 50px;
  right: -50px;
}

.box-three {
  top: 50px;
  right: -50px;
}

.box-four {
  bottom: 50px;
  left: -50px;
}

.wide-button {
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  width: 160px;
  cursor: pointer;
}

.small-button {
  border: none;
  background-color: var(--blue);
  color: white;
  font-size: 14px;
  padding: 15px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 55px;
  letter-spacing: 1.7px;
  color: var(--black);
  text-transform: uppercase;
}

.header {
  font-size: 47px;
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--black);
}

.person {
  padding: 50px;
}

.lil-gray {
  padding-top: 20px;
  font-size: 12px;
  opacity: 0.6;
  cursor: pointer;
  color: var(--black);
  text-decoration: none !important;
}

.mobile-nav {
  border-top: 1px solid #ebe9e9;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.desktop-nav {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #ebe9e9;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.desktop-icon {
  margin: 0px 20px;
}

.user-d {
  margin-right: 14%;
}

.icon {
  width: 22px;
  opacity: 0.25;
}

.active-icon {
  opacity: 0.9 !important;
}

.icon:focus {
  outline: 0 !important;
  border: 0 none !important;
  background: none !important;
}

.dark {
  opacity: 0.9 !important;
}

.user {
  width: 20px !important;
}

@media screen and (max-width: 400px) {
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
}
